@model int
@*

*@
<td style="width: 150px">
    <div class="btn-group">
        <a asp-action="Update" class="btn btn-outline-primary" asp-route-id="@Model">
            Update
        </a>
        <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@Model">
            Delete???
        </a>
    </div>
</td>
