@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <br /><br /><br /><br /><br /><br />
    <p class="text-primary text-center display-4"><b>Automatic Class Routine Generator</b></p>
</div>
