@model ClassTimeTable.Models.Domain.Class
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <h2 class="text-primary text-center">Create Class</h2>
        <form asp-action="Create" method="post">
            <div class="p-4 rounded border">
                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>
                @*<div class="form-group">
                        <div class="text-center">
                            <label asp-for="ClassName"></label>
                        </div>
                        <div class="row">
                            <div class="col-3">
                            </div>
                            <div class="col-6">
                                <input asp-for="ClassName" class="form-control" />
                            </div>
                            <div class="col-3">
                            </div>
                        </div>
                        <span asp-validation-for="ClassName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <label asp-for="BatchId">Designation</label>
                        </div>
                        <div class="row">
                            <div class="col-3">
                            </div>
                            <div class="col-6">
                                <select asp-for="BatchId" asp-items="ViewBag.bId" class="form-control"></select>
                            </div>
                            <div class="col-3">
                            </div>
                        </div>
                        <span asp-validation-for="BatchId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <label asp-for="CourseId">Designation</label>
                        </div>
                        <div class="row">
                            <div class="col-3">
                            </div>
                            <div class="col-6">
                                <select asp-for="CourseId" asp-items="ViewBag.cId" class="form-control"></select>
                            </div>
                            <div class="col-3">
                            </div>
                        </div>
                        <span asp-validation-for="CourseId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <label asp-for="MeetingTimeId">Designation</label>
                        </div>
                        <div class="row">
                            <div class="col-3">
                            </div>
                            <div class="col-6">
                                <select asp-for="MeetingTimeId" asp-items="ViewBag.mId" class="form-control"></select>
                            </div>
                            <div class="col-3">
                            </div>
                        </div>
                        <span asp-validation-for="MeetingTimeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <label asp-for="RoomId">Designation</label>
                        </div>
                        <div class="row">
                            <div class="col-3">
                            </div>
                            <div class="col-6">
                                <select asp-for="RoomId" asp-items="ViewBag.rId" class="form-control"></select>
                            </div>
                            <div class="col-3">
                            </div>
                        </div>
                        <span asp-validation-for="RoomId" class="text-danger"></span>
                    </div>*@
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-primary " value="Save" />
                    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-3">
    </div>
</div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
